# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
#Load in previously created csv
weather_data = pd.read_csv("../starter_code/city_weather.csv", encoding="utf-8")
# Visualize
weather_data

,Unnamed: 0,City,Country,Latitude,Longitude,Temperature,Max Temperature,Cloudiness,Humidity,Wind Speed,Date/Time
0,0,Medininagar,IN,24.0333,84.0667,56.64,56.64,0,38,4.41,1611975906
1,1,Balikpapan,ID,-1.2675,116.8289,84.20,84.20,40,79,3.44,1611976016
2,2,Kumluca,TR,36.3703,30.2869,47.32,47.32,83,53,3.74,1611976017
3,3,Hermanus,ZA,-34.4187,19.2345,61.00,61.00,72,91,3.29,1611976019
4,4,Charters Towers,AU,-20.1000,146.2667,88.97,88.97,76,31,9.89,1611976020
...,...,...,...,...,...,...,...,...,...,...,...
545,545,Mayumba,GA,-3.4320,10.6554,76.69,76.69,100,91,4.23,1611976631
546,546,Kedrovoye,RU,57.1576,60.5698,3.20,3.20,20,92,11.18,1611976654
547,547,Rushden,GB,52.2914,-0.5992,41.34,42.01,100,89,3.00,1611976655
548,548,Verkhoyansk,RU,67.5447,133.3850,-41.49,-41.49,95,76,0.04,1611976507
549,549,Lubao,PH,14.9167,120.5500,82.40,82.40,75,51,11.50,1611976658

In [3]:
weather_data.drop(columns=['Unnamed: 0'])

,City,Country,Latitude,Longitude,Temperature,Max Temperature,Cloudiness,Humidity,Wind Speed,Date/Time
0,Medininagar,IN,24.0333,84.0667,56.64,56.64,0,38,4.41,1611975906
1,Balikpapan,ID,-1.2675,116.8289,84.20,84.20,40,79,3.44,1611976016
2,Kumluca,TR,36.3703,30.2869,47.32,47.32,83,53,3.74,1611976017
3,Hermanus,ZA,-34.4187,19.2345,61.00,61.00,72,91,3.29,1611976019
4,Charters Towers,AU,-20.1000,146.2667,88.97,88.97,76,31,9.89,1611976020
...,...,...,...,...,...,...,...,...,...,...
545,Mayumba,GA,-3.4320,10.6554,76.69,76.69,100,91,4.23,1611976631
546,Kedrovoye,RU,57.1576,60.5698,3.20,3.20,20,92,11.18,1611976654
547,Rushden,GB,52.2914,-0.5992,41.34,42.01,100,89,3.00,1611976655
548,Verkhoyansk,RU,67.5447,133.3850,-41.49,-41.49,95,76,0.04,1611976507
549,Lubao,PH,14.9167,120.5500,82.40,82.40,75,51,11.50,1611976658

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
 # Configure gmaps with API key
gmaps.configure(api_key=g_key)

In [5]:
locations = weather_data[["Latitude", "Longitude"]].astype(float)
humidity = weather_data['Humidity'].astype(int)

fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [6]:
ideal_temp = weather_data.loc[(weather_data["Humidity"] < 60) \
                              & (weather_data["Temperature"] > 70) \
                              & (weather_data["Temperature"] < 90) \
                              & (weather_data["Cloudiness"] < 50)] 

ideal_temp

,Unnamed: 0,City,Country,Latitude,Longitude,Temperature,Max Temperature,Cloudiness,Humidity,Wind Speed,Date/Time
18,18,Busselton,AU,-33.6500,115.3333,80.22,82.00,0,45,4.00,1611976036
43,43,Ban Nahin,LA,18.2418,104.2122,80.38,80.38,0,38,1.28,1611976065
61,61,Pathein,MM,16.7833,94.7333,83.55,83.55,7,57,6.42,1611976085
91,91,Saint-Philippe,RE,-21.3585,55.7679,74.48,78.80,0,57,6.91,1611976120
173,173,Saint-Joseph,RE,-21.3667,55.6167,74.59,78.80,0,57,6.91,1611976217
191,191,Warmbad,NaN,-28.4500,18.7333,71.01,71.01,0,26,5.59,1611976237
261,261,Esperance,AU,-33.8667,121.9000,71.60,71.60,0,46,10.36,1611976319
330,330,Santa Rosa,PH,14.3122,121.1114,82.09,84.00,40,57,11.50,1611976399
366,366,Santa Maria da VitÃ³ria,BR,-13.3947,-44.1886,75.20,75.20,40,56,2.46,1611976441
385,385,Nicoya,CR,10.1483,-85.4520,78.80,78.80,0,57,23.02,1611976463
404,404,TomatlÃ¡n,MX,19.9333,-105.2500,76.59,76.59,2,42,5.46,1611976485
477,477,Broken Hill,AU,-31.9500,141.4333,84.20,84.20,1,34,16.11,1611976573
490,490,Saint-Pierre,RE,-21.3393,55.4781,76.62,80.60,0,57,5.75,1611976588
536,536,Svay Rieng,KH,11.0879,105.7993,79.93,79.93,47,40,5.99,1611976642
538,538,Gawler,AU,-34.6000,138.7333,76.44,78.01,1,43,7.00,1611976644

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [56]:
hotel_df = ideal_temp[["City", "Latitude", "Longitude"]].copy()

hotel_df["Hotel Name"] = ""

hotel_df

                       City  Latitude  Longitude Hotel Name
18                Busselton  -33.6500   115.3333
43                Ban Nahin   18.2418   104.2122
61                  Pathein   16.7833    94.7333
91           Saint-Philippe  -21.3585    55.7679
173            Saint-Joseph  -21.3667    55.6167
191                 Warmbad  -28.4500    18.7333
261               Esperance  -33.8667   121.9000
330              Santa Rosa   14.3122   121.1114
366  Santa Maria da VitÃ³ria  -13.3947   -44.1886
385                  Nicoya   10.1483   -85.4520
404                TomatlÃ¡n   19.9333  -105.2500
477             Broken Hill  -31.9500   141.4333
490            Saint-Pierre  -21.3393    55.4781
536              Svay Rieng   11.0879   105.7993
538                  Gawler  -34.6000   138.7333

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure